MONGODB_INITDB_ROOT_USERNAME=your_mongo_admin_username
MONGODB_INITDB_ROOT_PASSWORD=your_mongo_admin_password
MONGODB_INITDB_DATABASE=blog_db
MONGODB_HEALTHCHECK_COLLECTION=posts
MONGODB_EXPECTED_POST_COUNT=5

MYSQL_ROOT_PASSWORD=your_mysql_root_password
MYSQL_DATABASE=ynov_ci
MYSQL_USER=root
MYSQL_HOST=db_mysql
MYSQL_PORT=3306
MYSQL_HEALTHCHECK_HOST=127.0.0.1
MYSQL_HEALTHCHECK_USER=root
MYSQL_HEALTHCHECK_TABLE=utilisateurs
MYSQL_EXPECTED_USER_COUNT=4

ADMIN_MONGO_PORT=8081
ADMIN_MONGO_BASICAUTH_USERNAME=your_admin_mongo_username
ADMIN_MONGO_BASICAUTH_PASSWORD=your_admin_mongo_password
ADMIN_MONGO_HEALTHCHECK_URL=http://127.0.0.1:8081/

ADMIN_MYSQL_PORT=8082
ADMIN_MYSQL_HEALTHCHECK_URL=http://127.0.0.1:8080/
ADMIN_MYSQL_HEALTHCHECK_TEXT=adminer

API_PORT=8002
API_HEALTHCHECK_POSTS_URL=http://127.0.0.1:8000/posts
API_HEALTHCHECK_USERS_URL=http://127.0.0.1:8000/users

MONGO_DATABASE=blog_db
MONGO_URL=mongodb://your_mongo_admin_username:your_mongo_admin_password@db_mongo:27017/admin?authSource=admin
